@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
    --main-background-color: #26272e;
    --secondary-background-color: #0f153b;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.header {
  position: sticky;
  top: 0;
  text-align: center;
  width: auto;
  background-color: #353640;
  z-index: 999;
}

.content {
  color: white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 25px;
  background: var(--main-background-color);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.Content-box {
  margin: 20px;
  border-radius: 25px;
  background: var(--secondary-background-color);
}

.Content-subBox {
  margin: 20px;
  border-radius: 25px;
  background: var(--main-background-color);
}

.Main-Text {
  font-size: 50px;
  margin: 20px;
}

.Body-Text {
  font-size: 25px;
  padding: 5px;
}

.Body-Text-alignLeft {
  font-size: 25px;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}

.button {
  background-color: var(--secondary-background-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  margin: 15px;
}

/* #region Slider styling */
.slidecontainer {
  color: white;
  font-size: 25px;
  width: 50%;
  margin-left: 25%;
  margin-top: 25px;
}

.slider-br, .slider-r, .slider-g, .slider-b {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 15px;
  outline: none;
  background: #ced2ed;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider-br:hover, .slider-br:focus, .slider-r:hover, .slider-r:focus, .slider-g:hover, .slider-g:focus, .slider-b:hover, .slider-b:focus {
  opacity: 1;
}

.slider-br::-webkit-slider-thumb, .slider-r::-webkit-slider-thumb, .slider-g::-webkit-slider-thumb, .slider-b::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #e34f00;
  cursor: pointer; /* Cursor on hover */
}

.slider-br::-moz-range-thumb, .slider-r::-moz-range-thumb, .slider-g::-moz-range-thumb, .slider-b::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #e34f00;
  cursor: pointer; /* Cursor on hover */
}

.slider-r {
  background: red;
}

.slider-g {
  background: green;
}

.slider-b {
  background: blue;
}

.phonebutton-slider {
  margin: 40px;
}

@media screen and (min-width: 769px) {
  .phonebutton-slider {
      display: none;
  }
}

@media screen and (max-width: 425px) {
  .slidecontainer {
      width: 80%;
      margin-left: 10%;
  }
}
/* #endregion Slider styling */